<div class="cta-button__container">
	<a type="button " class="cta-button" href="https://airmeet.com/e/7ceb7bf0-bf39-11ea-adb7-31ace487329c"
		target="_blank">
		<span>
			Register & grab your seat!
		</span>
	</a>
</div>