<h1 class="welcome-title"> Welcome to Real Dev Squad </h1>
<h2 class="info-note highlighted-text">You can check out all our current events happening <LinkTo @route="events"> here </LinkTo></h2>
<img class="logo-img" src="assets/images/Real-Dev-Squad@1x.png" alt="Real Dev Squad logo" />
<h3 class="info-note"> To know how this page is getting developed, join our Discord Channel. Contact one of the existing members </h3>
  
{{outlet}}